@using MedXplorer.Models
@*@model List<DoctorInsertModel>*@
@model DoctorInsertModel
@{
    ViewBag.Title = "DoctorResult";
}
<head>

</head>


<div class="container-main d-flex">
    <div class="search-panel bg-success bg-opacity-50  align-items-center">

        <p>Find the best Doctors simply by choosing the Specialist, Doctor and Location</p>
       @* @{
            DoctorInsertModel data = Model;
        }
*@
        @using (Html.BeginForm("Search", "Main", FormMethod.Post, new { @id = "elementEditForm", @class = "form-horizontal form-label-left" }))
        {
            <div class="content2-in d-flex flex-column gap-2">
                @(Html.DropDownListFor(acc => acc.Specialist, new SelectList(Model.ListofSpecialist), "Add Specialist"))
                @(Html.DropDownListFor(acc => acc.Doctor_Name, new SelectList(Model.ListofDoctors), "Add Doctor"))
                @(Html.DropDownListFor(acc => acc.State, new SelectList(Model.ListofState), "Add State"))
                @(Html.DropDownListFor(acc => acc.City, new SelectList(Model.ListofCity), "Add City"))
            </div>
            <div class="submit mt-3 d-flex justify-content-center"><input type="submit" class="btn btn-primary submitbtn" value="Search" /></div>
        }
    </div>




        <div class="doctor-result w-75 p-3 bg-danger bg-opacity-25">

    @{
        /*DoctorInsertModel doctorresult = Model;*/

        foreach (var data in Model.selectListItems)
        {

            <div class="cards d-flex bg-light bg-opacity-75">
                <div class="image w-25 p-3">
                    <img src="https://edocsmc.in/images/upload/6221ae89d507a.png" class="w-100 h-100" />
                </div>

                <div class="contents w-100">
                    <div class="contents-in d-flex flex-column w-100 mt-2 p-3">
                        <div class="doctor-name w-100 pt-2">
                            <h2>@data.Doctor_Name</h2>
                        </div>
                        <div class="doctor-details w-100 d-flex">
                            <div class="doctor-details-1 dd d-flex flex-column">
                                <div class="specialist">
                                    <h4>@data.Specialist</h4>
                                </div>

                                <div class="location w-100 pt-3">
                                    <div class="location-in d-flex">
                                        <i class="ri-map-pin-line loc h-50"></i><p class="w-100"><span>@data.City</span><span>, @data.State</span></p>
                                    </div>

                                    <p class="address w-100">@data.Full_Address</p>
                                </div>

                            </div>

                            <div class="doctor-details-2 dd d-flex flex-column align-items-start justify-content-evenly">
                                <div class="contact d-flex">
                                    <i class="ri-phone-line"></i><p>@data.Contact_No</p>
                                </div>

                                <div class="time d-flex">
                                    <i class="ri-time-line time"></i><p><span>@data.Start_Time</span><span> - </span><span>@data.End_Time</span></p>
                                </div>

                                <div>
                                    <p>Fee : <span>@data.Fees</span>/-</p>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="button d-flex justify-content-center w-100">
                        <input class="btn btn-primary" type="submit" value="Book an appointment" />
                    </div>

                </div>
            </div>




            
            }

        }
        </div>
    </div>

        <style>
            .search-panel {
                position: sticky;
                top: 4.5rem;
                right: 8rem;
                width: 20vw;
                height: 86vh;
                padding: 0 2rem;
            }

                .search-panel p {
                    margin: 3vw 0;
                    color: lightgoldenrodyellow;
                    font-size: 1.4rem;
                    font-weight: 500;
                }

            .cards {
                margin-bottom: 3rem;
            }

            .image {
                height: 15vw;
            }

                .image img {
                    border: 1px solid black;
                }

            .address {
                padding-left: 1.8rem;
            }

            .location-in {
                margin-bottom: -2.5vh;
            }

            .time {
                /* margin-top: -0.5px;*/
            }

            i {
                font-size: 1.5rem;
                margin: -5px 5px 0 0;
            }

            .doctor-details-1 {
                width: 70%;
            }

            .doctor-details-2 {
                width: 30%;
            }

            .button {
                margin-bottom: 0.7rem;
            }
        </style>

















@*        <div class="cards d-flex bg-light bg-opacity-75">
            <div class="image w-25 p-3">
                <img src="https://edocsmc.in/images/upload/6221ae89d507a.png" class="w-100 h-100" />
            </div>

            <div class="contents w-100">
                <div class="contents-in d-flex flex-column w-100 mt-2 p-3">
                    <div class="doctor-name w-100 pt-2">
                        <h2>Dr.Geekiy Joey Riyeo</h2>
                    </div>
                    <div class="doctor-details w-100 d-flex">
                        <div class="doctor-details-1 dd d-flex flex-column">
                            <div class="specialist">
                                <h4>Cardiology</h4>
                            </div>

                            <div class="location w-100 pt-3">
                                <div class="location-in d-flex">
                                    <i class="ri-map-pin-line loc h-50"></i><p class="w-100"><span>Hazaribagh</span><span>, Jharkhand</span></p>
                                </div>

                                <p class="address w-100">Korrah road, Mawari, Hazaribagh</p>
                            </div>

                        </div>

                        <div class="doctor-details-2 dd d-flex flex-column align-items-start justify-content-evenly">
                            <div class="contact d-flex">
                                <i class="ri-phone-line"></i><p>+91 0000012345</p>
                            </div>

                            <div class="time d-flex">
                                <i class="ri-time-line time"></i><p><span>10:00 AM</span><span> - </span><span>3:00 PM</span></p>
                            </div>

                            <div>
                                <p>Fee : <span>800</span>/-</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="button d-flex justify-content-center w-100">
                    <input class="btn btn-primary" type="submit" value="Book an appointment" />
                </div>

            </div>

        </div>

    </div>*@