@using MedXplorer.Models
@model MedXplorer.Models.DoctorInsertModel


@{
    ViewBag.Title = "Find Doctor";
}
<main aria-labelledby="title">
    @*<h2 id="title">@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>*@

    <div class="Doctor-search bg-dark mh-75 w-100 position-relative">
        <div class="dashb-image bg-white h-100 w-100 d-flex flex-column gap-5 justify-content-center">
            <img class="w-100 h-100 position-absolute opacity-75" src="~/Content/images/Doctord.jpg" />
            <div class="content1 cont d-flex flex-column align-items-center">
                <h2>Find a <span class="auto-input"></span></h2>
                <p>Find the best doctors in these locations.</p>
            </div>
            <div class="content2 cont">


                @using (Html.BeginForm())
                {
                    <div class="content2-in d-flex justify-content-center gap-3">
                        @(Html.TextBoxFor(acc => acc.Specialist, new { @class = "acctype form-control", list = "datalistOption1" ,id = "exampleDataList" ,placeholder = "Speciality, Condition" }))
                        <datalist class="cont" id="datalistOption1">
                            <option value="San Francisco">
                            <option value="New York">
                            <option value="Seattle">
                            <option value="Los Angeles">
                            <option value="Chicago">
                        </datalist>

                        @(Html.TextBoxFor(acc => acc.Doctor_Name, new { @class = "acctype form-control", list = "datalistOption2" ,id = "exampleDataList" ,placeholder = "Doctor" }))
                        <datalist class="cont" id="datalistOption2">
                            <option value="Dr. Vikash Kumar">
                            <option value="Dr. Sneha Sinha">
                            <option value="Dr. Manoj Singh ">
                            <option value="Dr. Snehanshu Sharma ">
                            <option value="Dr. Ritu Kumari">
                            <option value="Dr. Shailendra Kumar">
                            <option value="Dr. Nidhin Varghese">
                            <option value="Dr. Seema Verma">
                            <option value="Dr. Rehan Sharma">
                        </datalist>

                        @(Html.TextBoxFor(acc => acc.city, new { @class = "acctype form-control", list = "datalistOption3" ,id = "exampleDataList" ,placeholder = "Location" ,required="required"}))
                        <datalist class="cont" id="datalistOption3">
                            <option value="Hazaribagh">
                            <option value="Ranchi">
                            <option value="Jamshedpur">
                            <option value="Dhanbad">
                            <option value="Tata">
                        </datalist>
                    </div>
                    <div class="submit mt-5 d-flex justify-content-center"><input type="submit" class="btn btn-primary submitbtn" name="Search" value="search" /></div>
                }

            </div>
        </div>

    </div>















    @* <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>*@
</main>
<style>
    .Doctor-search {
        height: 45vw;
        width: 100%;
        margin: 2vw 0 5vw 0;
        /*background-image: url("https://images.pexels.com/photos/7195369/pexels-photo-7195369.jpeg?auto=compress&cs=tinysrgb&w=600");*/
    }

    .content1 {
    }

        .content1 h2 {
            font-size: 3.5vw;
        }

        .content1 p {
            font-size: 1.2vw;
        }

    .cont {
        z-index: 99;
    }

    .form-control {
        padding: 1% 4%;
        border: none;
    }
</style>



<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<script>
    var typed = new Typed(".auto-input", {
        strings: ["Doctor", "General Physcian", "Cardiologist", "Neurologist", "Surgeon", "Dermatologist", "Cardiologist"],
        typeSpeed: 60,
        backSpeed: 30,
        loop: true
    })
</script>



